*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logoMio{
    transition: all 1s;
}
.logoMio:hover{
        transform: translateX(150px);
}
.colorNav{
    background-color: #005f65;
}
.navPagina:hover{
    background-color: #9b9b9b;
}
.colorH4Slider{
    background-color: #cc2c20;
}
.usarFlex{
    display: flex;
    justify-content: center;
}
.usarFlex2{
    display: flex;
    justify-content: space-around;
}
.contenidoIconos h2{
    color: #005f65;
}
.contenidoIconos p{
    color: #9b9b9b;
}
.prodDesc{
    background-color: #005f65;
    border-radius: 50px;
}
.prodDesc:hover{
    background-color: #9b9b9b;
}
.tarjetaProd{
    transition: all 0.2s;
}
.tarjetaProd:hover{
    transform: scale(1) translateY(-10px);
}
.fc-qs p{
    color: #9b9b9b;
}
.fc-qs h2{
    color:#3f4549;
}
.contacto h2{
    color: #3f4549;
    
}
.datosDContacto h2{
    margin-bottom: 20px;
}
.datosDContacto h5{
    font-size: large;
}
.datosDContacto div{
    display: flex;
}
.ddcIcon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.ddcIcon img{
    margin-top: 3px;
}
.datosDContacto div section{
    margin: 10px 15px 0px 0px;
}
.datosDContacto div section h3{
    margin-top: 7px;
}
.datosDContacto div section h4{
    margin-top: 11px;
}
.btn{
    background-color: #005f65;
}
.imgFondoFooter{
    height: 300px;
}
.padreFooter section h4{
    color: #005f65;
    font-size: large;
    font-weight: bold;
}
.padreFooter section h5{
    color:#3f4549;
    font-size: large;
}
.padreFooter section a img{
    transition: all 1s ease;
}
.padreFooter section a img:hover{
    transform: scale(1) translateX(5px) translateY(5px);
    background-color: #6c757d;
    border-radius: 50px;
}
.madeBy{
    color: #005f65;
}
